{% extends "blog/blog.html" %}

{% block article_body %}
    <h4>Introduction</h4>
    <p>
        I've long wanted to properly set up a <a href="https://www.djangoproject.com/">Django</a>, <a href="http://projects.unbit.it/uwsgi/">uWSGI</a> and <a href="http://nginx.org/">Nginx</a> server to host my various projects.
        I'd searched across various sites, blogs and tutorials and quickly noticed that every guide I find was either broken or outdated.
    </p>
    <p>
        The uWSGI docs seemed most promising, but a lot of their examples simply didn't work as stated. Often I'd have to dig or play
        around to get something to work. 
        While this is by no means a bad thing, and I always encourage experimentation, it's very frustrating to find
        guides that seem to lead you astray.
    </p>
    <p>
        In early 2013, with the help of my friend and coworker Bartek and a few others, I was able to set up the aforementioned web stack for a project at work. Unfortunately it had been some time since I'd done this and I'd forgotten some of the crucial steps. 
        I was kicking myself for not having documented my steps at the time, but as they say, hindsight is 20/20 and regretting the past wasn't going to solve my problem.
    </p>
    <p>
        I remembered that Bartek had a blog post documenting this very process, but it too was now a year or so outdated. 
        Furthermore, he was out of the country at the time, so there was no way of getting his help directly. 
        Luckily with the help of his blog post, referencing some of the config files from my work's servers, a bit of luck and a lot of patience, I successfully set up the server that hosts this site.
    </p>
    <p>
        To avoid having this same problem in the future, and to hopefully help others out there like myself, I decided that my first project would be a write-up of my steps towards getting this damned setup to work (It's actually really great and simple once you've done it once or twice).
    </p>

    <p>
        <code>TLDR:</code> No recent tutorials avaliable. I make tutorial. You read now.
    </p>

    <br>

    <h4>Before we begin</h4>
    <p>
        This is going to be a very biased tutorial. What do I mean by this?
    </p>
    <ul>
        <li>
            I assume that you are using Linux; specifically Ubuntu 12.04 LTE. A good chunk of this tutorial will probably work on many other distributions of Linux with some tweaking, so tweak away!
        </li>
        <li>
            At the time of writing, I am using Django 1.6, 
        </li>
        <li>
            I will make suggestions based on my own experience, however limited it may be. Some of that experience may not be backed by anything but the fact that I use the tools I use because I like them. If you the reader, finds flaws in my ways, please feel free to contact me and give me a piece of your mind.
        </li>
        <li>
            I'll be using <a href="http://www.postgresql.org/">PostgreSQL</a> as my database weapon of choice.
        </li>
        <li>
            By the time you are reading this, this guide may be out of date! If this is the case, feel free to contact me and we can try fix whatever problems have arisen. This would also give me a chance to update the article and not be obsolete anymore!
        </li>
    </ul>
    <p>
        And with that, let's begin!
    </p>

    <br>

    <h4>Ubuntu</h4>
    <p>
        Feel free to skip this part if you already have Ubuntu set up as you like it, or otherwise know exactly what you want to do. I assume a fresh install here. To be perfectly fair, I got this part off of the Linode "setting up the hostname" tutorial. You can find it <a href="https://library.linode.com/getting-started#sph_setting-the-hostname">here</a>, with more information and instructions for other Linux distros. I'll offer my own, condensed version just below, but I encourage all to read through the Linode tutorial as well; lots of great information!
    </p>
    <p>
        One very important caveat to the Linode instructions; if you follow through the first page and continue onto "securing your server", do NOT do as they suggest for the Firewall setup. I found that doing so prevented me from accessing my server via web. That's definitely my inexperience showing, so if you're more comfortable with Unix Firewalls, by all means. Let's get started!
    </p>

    <h5>Set up hostname</h5>
    <pre><code>
        echo "your_hostname" > /etc/hostname
        hostname -F /etc/hostname
    </code></pre>
    <p>
        Replace <code>your_hostname</code> with your own fully qualified domain name (FQDN). Use something unique. This can be just about anything; it can be, but doesn't have to be the website domain. I think of this as the name of the server.
    </p>

    <h5>Edit your hosts file</h5>
    <p>
        Use your favourite editor (I use vim) to modify <code>/etc/hosts</code>.
    </p>
    <pre><code>
        127.0.0.1       localhost.localdomain           localhost
        your_ip_address your_hostname.your_domain.com   your_hostname
    </code></pre>
    <p>
        Replace <code>your_hostname</code> and <code>your_domain</code> with the respective values. If you don't have a domain yet, your_domain can really be anything you want.
    </p>

    <h5>Set your timezone</h5>
    <pre><code>
        dpkg-reconfigure tzdata
    </code></pre>

    <h5>Install Software Updates</h5>
    <p>
        This is where I deviate a bit from the Linode tutorial to speed later steps up. Edit your <code>/etc/apt/sources.list</code> file and append the following two lines to the end of the file.
    </p>
    <pre><code>
        deb http://nginx.org/packages/ubuntu/ precise nginx
        deb-src http://nginx.org/packages/ubuntu/ precise nginx
    </code></pre>
    <p>
        Reminder that this tutorial assumes Ubuntu 12.4 LTE. If you are using something other than this, replace <code>precise</code> in the two lines above with whatever your distro's codename is. Now that this is done, go ahead and do the following.
    </p>
    <pre><code>
        apt-get update
        apt-get upgrade --show-upgraded
    </code></pre>
    <p>
        What we did here is tell apt-get where the newest versions of Nginx lives, and then told it to update it's sources. Finally we told it to upgrade all the installed packages to their latest versions, with these new sources. Note that this does NOT install Nginx, but we would have to do it later anyways, so may as well do it now.
    </p>

    <h5>Secure our precious server</h5>
    <p>
        This part of the tutorial comes from another article off of the Linode docs. I mentioned it before, it's called "securing your server" and you can find the full article <a href="https://library.linode.com/securing-your-server">here</a>. Again, if you decide to follow their instructions directly, stop when you get to "Creating a Firewall."
    </p>

    <h5>Create a new user</h5>
    <p>
        You really don't want to do all your work as root. It's dangerous as there are no safety nets to stop you from doing something stupid like <code>rm -rf /</code>. Not that I've tried that or anything...
    </p>
    <p>
        For this reason, we're going to create a new user to do all our dirty work with.
    </p>
    <pre><code>
        adduser username
        usermod -a -G sudo username
    </code></pre>
    <p>
        Replace <code>username</code> with your desired username. Then <code>logout</code>.
    </p>

    <h5>Better SSH</h5>
    <p>
        SSHing into a server with a username and password is probably the most comman way people use SSH; and it's the most often taught. Now that we have a new user, it'd be nice if we could log in without having to type and re-type our pasword in every time.
    </p>
    <p>
        Navigate to your <code>~/.ssh</code> folder on your home machine (I assume you use some *nix OS; if you don't, I wish you the best of luck). If one doesn't exist, or it's empty, you're going to have to generate a new SSH key pair. Github actually has an excellent tutorial on how to do this, you can view it <a href="https://help.github.com/articles/generating-ssh-keys">here</a>! You can stop once you're done step two.
    </p>
    <p>
        Once you're done, in a different shell tab or window, <code>ssh</code> back into your server and navigate to the <code>~/.ssh</code> directory. Create one if it doesn't already exist, but there's no need to generate an RSA key-pair here unless you otherwise need one. Open the <code>authorized_keys</code> file with your favourite editor. Back on your own machine, copy the contents of your <code>id_rsa.pub</code> file, and paste it into the <code>authorized_keys</code> file of your server. To finish things off, <code>logout</code> and then <code>ssh</code> back in. If you did everything correctly; it should no longer ask for a password, but use your newly created RSA key-pair!
    </p>

    <h5>Enforcing better SSHing habbits</h5>
    <p>
        We no longer want people to be able to SSH in as root. Furthermore, some may desire to disable login via username and password altogther. Enter SSH configuration! Go ahead and edit <code>/etc/ssh/sshd_config</code> with your favourite editor.
    </p>

    <p>
        Change the following.
    </p>
    <pre><code>
        PermitRootLogin no
    </code></pre>
    <p>
        If you want to disable password login entirely, go ahead and change the following line as well. Note that this part is optional. I myself have opted not to do this.
    </p>
    <pre><code>
        PasswordAuthentication no
    </code></pre>
    <p>
        Then go ahead and restart SSH by issuing <code>sudo service ssh restart</code>
    </p>
    <p>
        As I mentioned, this is where I suggest you stop following the Linode guide. I do suggest you come back and try to properly set up a firewall later on. I intend to do some research and testing on the matter myself; when I do, I'll post a short tutorial on how to get it to work.
    </p>
    <p>
        With that, we're done the Ubuntu portion of this tutorial! Celebrate with a nice, cold Beer!
    </p>

    <br>

    <h4>Django</h4>
    <h5>Setup and tools</h5>
    <p>
        One might naturally assume that we'd go from setting up the OS to setting up Nginx, the server, first. Trust me when I say that there's method to my madness and that it's better to first create a Django project. Even if you're not yet at the point where you have any project ideas, go ahead and create a dummy project to play with and make sure everything works. You can always create different ones later and apply the same steps.
    </p>
    <p>
        Here, I'll make a recommendation to use several tools that I've grown to love in my two years coding experience. They are <a href="http://www.pip-installer.org/en/latest/">pip</a> and <a href="http://www.virtualenv.org/en/latest/">virtualenv</a>/<a href="http://virtualenvwrapper.readthedocs.org/en/latest/">virtualenvwrapper</a>. Ubuntu 12.04 ships with Python 2.7.3 by default. If this is severly outdated at the time of reading, use apt-get and/or Google to upgrade Python. Now we're going to install the aforementioned tools.
    </p>
    <pre><code>
        sudo apt-get install python-pip
        sudo pip install pip --upgrade
        sudo pip install virtualenv virtualenvwrapper
    </code></pre>
    <p>
        That's right! We use pip to upgrade itself, since apt-get seems to install some horribly outdated version. This really fucks with the age-old "What came first" question. This is also the last time (in this guide) that I'll be asking you to install anything with pip using sudo.
    </p>

    <h5>Virtualenv</h5>
    <p>
        So what is virtualenv and virtualenvwrapper you ask? Virtualenv, as the name suggests, is a virtual environmenmt for your Python-based projects. It's a neat and great way to sandbox your different projects so that they don't overlap and interfeer with each other. This also would allow you to have several Python projects on one machine, all using different versions of Python, Django and any number of other tools. Virtualenvwrapper is just a set of helper tools and calls that make using virtualenv more painless.
    </p>
    <p>
        To finish off the install, we need to add the following few lines to your <code>~/.bashrc</code> file.
    </p>
    <pre><code>
        export WORKON_HOME=$HOME/.virtualenvs
        export PROJECT_HOME=$HOME/Devel
        source /usr/local/bin/virtualenvwrapper.sh
    </code></pre>
    <p>
        To make these changes to your <code>bashrc</code> file take effect, either do <code>source ~/.bashrc</code> or <code>logout</code> and then <code>ssh</code> back into your server.
    </p>
    <p>
        Now we can go ahead and create our virst virtualenv! Go ahead and do <code>mkvirtualenv env_name</code>. Be sure to replace <code>env_name</code> with some name that you associate with this project. Often, this can be the project name or some short-hand. The command will issue some text as well as a bunch of dots and then give control back to you. Congradulations, you've both created and entered into your very first virtualenv.
    </p>
    <div class='alert alert-warning'>
        <strong>Important!</strong> Do not associate your virtualenv with your working directory; they are entirely separate things. Unlike your working directory, where your files are kept, your virtualenv is a more abstract layer of separation. It's a sandbox for system environment variables. It prefixes your PATH variable with some of it's own directories; and most importantly, everything you install via pip inside a virtualenv will only exist when inside that virtualenv! That's because it's all installed inside your <code>~/.virtualenvs/env_name/</code> folder.
    </div>
    <p>
        Here are a few virtualenv/virtualenvwrapper commands to note. Replace <code>env_name</code> as appropriate.
    </p>
    <pre><code>
        workon env_name         # Activate or switch into a virtualenv.
        mkvirtualenv env_name   # Create a new virtualenv, and activate it.
        rmvirtualenv env_name   # Remove a virtualenv.
        deactivate              # Leave your current virtualenv.
    </code></pre>
    <p>
        With the above in mind, go ahead and create a directory for your new Django project. I personally hold all my Django projects in the <code>/var/www/</code> directory. You can keep yours wherever you wish, just make adjustments to the instructions where necessary. Don't forget to install Django with <code>pip install django</code>, just make sure you're still in your virtualenv.
    </p>
    <p>
        I intend to do a writeup of a more in-depth Django tutorial, as I find the official one to be a bit lacking. Until then, please reference the Django tutorial or docs for complete information on how to start a Django project. The following will assume you've done this before.
    </p>
    <pre><code>
        django-admin.py startproject project_name
        cd project_name
        mkdir media static logs
    </code></pre>

    <h5>Breif intermission - Postgres</h5>
    <p>
        We're now going to install the Database that will power our project. If you wish to use a different DB, or know what you're doing, skip to the next section. Otherwise, step outside of your virtualenv momentarily by issuing the command <code>deactivate</code>. We're going to first install the dependancies for Postgres and then install it as well.
    </p>
    <pre><code>
        sudo apt-get install libpq-dev python-dev
        sudo apt-get install postgresql postgresql-contrib
    </code></pre>
    <p>
        Quick and painless! Postgres is installed. Now all we have to do is set it up. Enter the following instructions one at a time and follow any on-screen instructions. When creating the new user, enter in the password when prompted and then answer no (N) for all of the subsequent questions. Replace <code>db_name</code> and <code>user_name</code> accordingly.
    </p>
    <pre><code>
        sudo su - postgres
        createdb db_name
        createuser -P user_name
        psql
        GRANT ALL PRIVILEGES ON DATABASE db_name TO user_name;
    </code></pre>


{% endblock %}
